<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>co.steeltrap</string>
	<key>connections</key>
	<dict>
		<key>00495D63-2095-42FB-9338-678F554B0B04</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C116DE6-CC4D-4E08-A359-007A2C5B9139</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1B965D87-BC0F-4FB4-B0C2-789B7EFFF24C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DEA1BE70-4D25-49DC-9BF7-8FE2DB45713E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3DDA7E89-23BF-4632-9F6B-1183AE56A1B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C116DE6-CC4D-4E08-A359-007A2C5B9139</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>658DFE98-4AFB-499F-8883-F2C17F89D55D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C116DE6-CC4D-4E08-A359-007A2C5B9139</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9DC95E48-1947-4631-AF13-BBEB9769721E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3DDA7E89-23BF-4632-9F6B-1183AE56A1B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A98F87FA-8809-4DCA-9441-6300D59F73E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>658DFE98-4AFB-499F-8883-F2C17F89D55D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C5E9A5AC-9530-4848-85AA-B223E385FA7B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>00495D63-2095-42FB-9338-678F554B0B04</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DEA1BE70-4D25-49DC-9BF7-8FE2DB45713E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C116DE6-CC4D-4E08-A359-007A2C5B9139</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Don Livanec</string>
	<key>description</key>
	<string>Steel Trap by Red Iron Crow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Steel Trap</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>st setup</string>
				<key>subtext</key>
				<string>Required arguments: &lt;email&gt; &lt;api_key&gt;</string>
				<key>text</key>
				<string>Set Steel Trap Credentials</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1B965D87-BC0F-4FB4-B0C2-789B7EFFF24C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>COMMAND = "setup"
QUERY = "{query}"
load 'run_command.rb'</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DEA1BE70-4D25-49DC-9BF7-8FE2DB45713E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>COMMAND = "open_item_url"
QUERY = "{query}"
load 'run_command.rb'</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3DDA7E89-23BF-4632-9F6B-1183AE56A1B2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Steel Trap</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2C116DE6-CC4D-4E08-A359-007A2C5B9139</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>st search</string>
				<key>script</key>
				<string>COMMAND = "search"
QUERY = "{query}"
load 'run_command.rb'</string>
				<key>subtext</key>
				<string>Search queries from Repo</string>
				<key>title</key>
				<string>Search Queries</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9DC95E48-1947-4631-AF13-BBEB9769721E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>st quick add</string>
				<key>subtext</key>
				<string>Add a query and keep coding.</string>
				<key>text</key>
				<string>Quick Add</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A98F87FA-8809-4DCA-9441-6300D59F73E4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>COMMAND = "quick_add"
QUERY = "{query}"
load 'run_command.rb'</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>658DFE98-4AFB-499F-8883-F2C17F89D55D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>st add</string>
				<key>subtext</key>
				<string>Add to repo then search &amp; edit in browser</string>
				<key>text</key>
				<string>Add a query and open browser</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C5E9A5AC-9530-4848-85AA-B223E385FA7B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>COMMAND = "add_open"
QUERY = "{query}"
load 'run_command.rb'</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>00495D63-2095-42FB-9338-678F554B0B04</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>00495D63-2095-42FB-9338-678F554B0B04</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>1B965D87-BC0F-4FB4-B0C2-789B7EFFF24C</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>2C116DE6-CC4D-4E08-A359-007A2C5B9139</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>3DDA7E89-23BF-4632-9F6B-1183AE56A1B2</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>658DFE98-4AFB-499F-8883-F2C17F89D55D</key>
		<dict>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>9DC95E48-1947-4631-AF13-BBEB9769721E</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>A98F87FA-8809-4DCA-9441-6300D59F73E4</key>
		<dict>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>C5E9A5AC-9530-4848-85AA-B223E385FA7B</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>DEA1BE70-4D25-49DC-9BF7-8FE2DB45713E</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://steeltrap.co</string>
</dict>
</plist>
